<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<% import urllib2 %>

<%block name="pagetitle">${_("About")}</%block>

<div class="container ">
	<div class="row">
		<div class="col-md-12 ">
      <div class="white-panel">
        <div class="row">
          <div class="col-md-9">
<div class="main-content-static">
<div class="main-content-static">


  <h1>A propos de CDCP Academy</h1>

  <h2>1. Présentation</h2>
<p>
	CDCP Academy LMS est une plateforme d’enseignement et d’apprentissage en ligne, simple, intuitive, ergonomique et accessible à tous. Elle garantit à chaque utilisateur un accès facile à ses ressources formatives et crée des communautés d'apprenants autour de contenus et d'activités pédagogiques. </br></br>
Elle permet à des institutions (entreprises, universités, établissements scolaires, associations ...) de créer et d'administrer des formations diversifiées sur mesure selon les besoins de leur institution et de leurs équipes et des espaces de collaboration en ligne. Dans un environnement convivial, le formateur peut suivre l'évolution de ses apprenants et mettre en place des actions de tutorat.
</br></br>
Notre plateforme CDCP Academy LMS a de nombreuses fonctionnalités remarquables à présenter. Que vous cherchiez à vendre vos formations en ligne, diffuser des centaines de formations à des milliers d’apprenants ou à mettre en place des parcours de formations en intégrant tout type de ressources normalisées SCORM/AICC (modules e-learning, Serious Games, classes virtuelles, etc.) ou non-normalisées (PowerPoint, pdf, vidéos, etc.) pour votre PME, CDCP Academy est là pour répondre à vos besoins.
</br></br>
Notre plateforme LMS est compatible sur tout type de matériel : tablette, pc, mac, smartphone, etc. Où que vous soyez, vous bénéficiez d'une solution de formation adaptée à votre environnement.
</p>
<h2> 2. Fonctionnalités </h2>


<p>
Notre plateforme CDCP Academy LMS utilise la technologie Open edX, technique innovante pour l’apprentissage et la formation à distance. Cette technologie puissante est fondée et utilisée par les plus grandes universités prestigieuses telles que l'Université de Harvard et le Massachusetts Institute of Technology (MIT). </br></br>


Notre plateforme supporte la création, l'animation et le suivi de formations digitales aux formats (Massive Open Online Courses) ou COOC pour les entreprises, ainsi que des classes plus petites (SPOC) ou des modules de formation hybrides ou Blended Learning. Elle est structurée en deux principaux composants qui sont les suivants : </br>

<ul>
<li> <strong>Open edX studio </strong> l’outil destiné à la création des cours </li>
</br>
<li> <strong>Open edX LMS </strong> est l’interface à travers laquelle les apprenants accèdent aux conte

</li>
 </ul>

Les fonctionnalités qui distinguent CDCP Academy des plateformes e-learning classiques sont :
</br>
</br>
<ul>
<li> <strong>Gestion avancée des vidéos : </strong>sommaire, génération et téléchargement de la transcription, vitesse de lecture variable, support sous-titre multilingue </li></br>

<li> <strong>Système sophistiqué d’évaluation </strong> des questions à réponse ouverte (évaluation des pairs, auto-évaluation, affichage des réponses les mieux notées, interface d’évaluation externe…) </li></br>

<li> <strong>Exercices et d’outils de simulation spécialisés </strong>(mathématiques, informatique, sciences naturelles…) </li></br>

<li> <strong>Social Learning : </strong>échanges pédagogiques au cœur notre plateforme via un système de micro-blogging dédié à la formation. Vous bénéficiez de différents outils communautaires intégrés pour développer l'apprentissage informel : les forums de discussion, la messagerie, les wikis, les flux RSS et les sondages. </li></br>

<li> <strong>Outils d’analyse et de statistique avancée </strong>destinés au corps administratif pour comprendre la typologie, le comportement et la performance des apprenants. </li></br>

<li> Des rapports en <strong> Temps Réel </strong> pour suivre les résultats et les progrès des apprenants. Création des profils et des groupes pour un suivi optimisé. Les modèles de rapports personnalisés peuvent être sauvegardés pour être réutilisés. Les rapports peuvent être envoyés automatiquement dans de nombreux formats. </li>
</ul>

</p>

  <h2>3. Et bien d’autres avantages …</h2>

<p>
CDCP Academy inclut toutes ces fonctionnalités et bien d’autres encore comme :</br>

<ul>
<li> <strong>Diffusion de contenus de manière séquentielle </strong>– Les éléments du contenu peuvent être diffusés à un moment prédéfini après l’inscription.</li></br>

<li> <strong>Expiration de l’inscription</strong>– Déterminer combien de temps après l’inscription les apprenants doivent terminer leur cours.</li></br>

<li> <strong>Attestation de formation </strong>– Télécharger des attestations personnalisées pour chaque cours.</li></br>

<li> <strong>Expiration des attestations </strong> – Déterminer la durée de validité d’un certificat et demander automatiquement à l’apprenant de suivre à nouveau un cours lorsqu’il expire. </li></br>

<li> <strong>Personnalisation des critères d’utilisateurs </strong>– Entrer vos propres champs de critères et utiliser-les pour organiser et suivre vos apprenants. </li></br>

<li> <strong>Importer des Utilisateurs </strong>– Importer une feuille Excel avec la liste de tous vos comptes utilisateurs, y compris les groupes et les champs de critères personnalisés. </li></br>

<li> <strong>Badges : </strong>Développement interne pour la gestion de badge </li></br>

<li> <strong> Certifications et attestation de réussite : </strong> chaque certification est personnelle et vérifiable par URL unique. </li>

</ul></br>


</p>

</div>





	  </div>
          </div>
          <div class="col-md-3">
						<%include file="theme-upcoming-content.html" />
          </div>

        </div>
      </div>
		</div>
	</div>
</div>
