<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<% import urllib2 %>

<%block name="pagetitle">${_("Privacy Policy")}</%block>
<div class="container ">
	<div class="row">
		<div class="col-md-12 ">
      <div class="white-panel">
        <div class="row">
          <div class="col-md-9">
           <h1>Conditions Générales d’Utilisation (CGU)</h1>
<h2>Préambule</h2>          
<p> Les présentes Conditions Générales d’Utilisation décrivent les termes et conditions

dans lesquels le Centre pour le Développement des Compétences Professionnelles -

Academy (ci-après &quot;CDCP ACADEMY&quot;) fournit un service d’apprentissage, de création

de contenus pédagogiques et d’hébergement de contenu sur son Site Internet

https://www.cdcp-academy.com, (ci-après désigné par &quot;Site&quot;). 
</br>
</br>
L’accès à ce Site est subordonné au respect des présentes Conditions Générales

d’Utilisation. Tout internaute souhaitant y accéder doit avoir pris connaissance

préalablement de ces Conditions Générales d’Utilisation ainsi que la Charte

Utilisateurs et s’engage à les respecter sans réserve.

</p>
<h2>Objet</h2>
<p>
CDCP ACADEMY est une plateforme Internet, hébergeant des cours en ligne, créés

par des institutions (entreprises, universités, établissements scolaires,

associations ...). En vous inscrivant à un cours en ligne sur CDCP ACADEMY, vous

rejoignez une communauté nationale et mondiale d&#39;apprenants. L&#39;ambition de

CDCP ACADEMY est de fournir un accès aux meilleures formations et ce, quelle que

soit votre localisation géographique.
</br></br>
En s’inscrivant sur le Site de CDCP ACADEMY, l’utilisateur est réputé avoir accepté,

sans restriction ni réserve, les Conditions Générales d’Utilisation et la Charte

Utilisateurs. Tout accès et/ou utilisation de CDCP ACADEMY est subordonné au

respect de l’ensemble des termes des Conditions Générales d’Utilisation et de son

annexe qui en font partie intégrante, sans restriction ni réserve.
</br></br>
Si vous ne comprenez pas ces termes ou que vous ne souhaitez pas y être liés

légalement, nous vous invitons à ne pas utiliser le Site internet de CDCP ACADEMY,

<a href="https://www.cdcp-academy.com">https://www.cdcp-academy.com </a> . 
</br></br>
CDCP ACADEMY se réserve donc le droit de refuser l&#39;accès ou d’exclure, sans

préjudice de tout dommage et intérêt pour l’utilisateur et sans notification préalable,

tout utilisateur qui ne respecterait pas les Conditions Générales d&#39;Utilisation et la

Charte Utilisateurs, et également de supprimer toute contribution ou commentaire

notamment en cas d’infraction au regard de la loi tunisienne de même qu’en cas de

réclamation d’un tiers.
</br></br>
CDCP ACADEMY se réserve le droit de modifier à tout moment et sans

communication préalable les Conditions Générales d&#39;Utilisation et la Charte

Utilisateurs. Tout changement sera immédiatement répercuté sur la présente page.

La date de mise à jour sera mentionnée. L’utilisateur est donc invité à consulter

régulièrement leur dernière version mise à jour. Tout accès ou utilisation de CDCP

ACADEMY vaut acceptation des changements effectués.
</br>
</p>
<h2>Règles de conduites de l’utilisateur</h2>
<p>
En tant qu’utilisateur du Site de CDCP ACADEMY, vous êtes responsable de vos

publications et de l’utilisation que vous faites du Site. Les publications incluent

l’ensemble des éléments de contenu soumis, publiés ou diffusés sur le Site par vous

ou d’autres utilisateurs. Par éléments de contenu, on entend les textes, les photos,

les vidéos, les discussions dans le cadre des espaces d’interaction (forum, wiki,

réseaux sociaux), les travaux soumis lors des devoirs (évaluation par les pairs

notamment). De manière générale, CDCP ACADEMY rappelle à l’utilisateur que CDCP

ACADEMY ne garantit pas la véracité, la complétude, l’exhaustivité ni l’exactitude des

commentaires diffusés via le Site de CDCP ACADEMY par d’autres utilisateurs.
</br></br>
Vous reconnaissez que vous utiliserez le Site en conformité avec les présentes

Conditions Générales d&#39;Utilisation et la Charte Utilisateurs.
</br></br>
CDCP ACADEMY rappelle qu’il est strictement interdit tout acte de cybercriminalité :

à savoir infractions contre la confidentialité, l&#39;intégrité et la disponibilité de l’accès,

des contenus/données et systèmes informatiques du Site CDCP ACADEMY, sans que

cette liste ne soit exhaustive.
</br></br>
Vous vous engagez ainsi à respecter les règles de déontologie informatique et

notamment à ne pas effectuer intentionnellement des opérations qui pourraient

avoir pour conséquence de :
</br>
<ul>
<li>Usurper l’identité d’autrui ; </li>

<li>S’approprier le mot de passe d’un autre utilisateur ; </li>

<li>Modifier ou détruire des informations ne vous appartenant pas ; </li>

<li>Accéder à des informations appartenant à d’autres utilisateurs sans leur

autorisation ; </li>

<li>Se connecter ou tenter de se connecter sur un compte sans autorisation ;</li>

<li>Laisser quelqu’un utiliser votre nom d’utilisateur et/ou votre mot de passe ; </li>

<li>Détourner l’une des fonctionnalités de CDCP ACADEMY de son usage normal ; </li>

<li>D’endommager, mettre hors service, surcharger ou détériorer le serveur ou le

réseau. </li>
</ul>
</br>
Cette liste est non limitative.
</br>
</br>
Vous vous engagez, par ailleurs, à ne pas essayer d’avoir un accès non autorisé au

Site, de recueillir sans autorisation des informations stockées sur le Site, ses

serveurs ou des ordinateurs associés par n&#39;importe quels moyens non

intentionnellement rendus disponibles par le Site.
</br></br>
En outre, vous vous engagez à respecter les dispositions légales et réglementaires

en vigueur. Il est par conséquent formellement interdit de tenir :
</br></br>
<ul>

<li>des propos à caractère raciste, xénophobe, antisémite, homophobe, </li>

négationniste, pornographique, pédophile, pédopornographique… ;</li>

<li>des propos injurieux, diffamatoires, ou portant atteinte à la vie privée, et plus

généralement aux droits de la personnalité de quiconque ;</li>

<li>des propos portant atteinte à la dignité humaine ;</li>

<li>des propos incitant à la violence, au suicide, au terrorisme, à l’utilisation, la

fabrication ou la distribution de substances illicites ;</li>

<li>des propos incitant aux crimes ou aux délits ou qui en font l’apologie et plus

particulièrement les crimes contre l’humanité ;</li>

<li>de porter atteinte aux droits de propriété intellectuelle de tiers (notamment

textes, photographies) ou au droit à l’image des personnes (publication de la

photographie d’une personne sans autorisation) pour lesquels vous ne

disposez pas des autorisations nécessaires des auteurs et/ou ayants droit ;</li>

<li>de publier intentionnellement du contenu faux, erroné ou trompeur ;</li>

<li>de publier des contenus faisant la promotion de services à but lucratif.</li>

</br>
Cette liste est non limitative.
</br></br>
Le Site CDCP ACADEMY comporte des informations mises à disposition par des

utilisateurs ou des liens hypertextes vers d’autres Sites qui ne sont pas édités par

CDCP ACADEMY mais fournis ou proposés par des tiers.
</br></br>
Le contenu mis à disposition sur le Site est fourni à titre indicatif. L’existence d’un

lien de ce Site vers un autre Site ne constitue pas une validation de ce Site ou de son

contenu.
</br>
</br>
Il appartient donc à l’utilisateur d’exploiter ces informations avec discernement et

esprit critique. Le caractère raisonnable ou actuel, l’exactitude ou l’exhaustivité du

contenu de ces informations n’est pas vérifié par CDCP ACADEMY. Dans ce cadre,

CDCP ACADEMY rejette expressément toute responsabilité.
</br></br>
Vous vous engagez également à :
</br></br>
<li>Respecter les droits de propriété intellectuelle afférents aux contenus

diffusés sur CDCP ACADEMY ainsi que les droits de propriété intellectuelle

des tiers conformément aux conditions d’utilisation propres à chaque cours

proposé sur le Site ; </li>

<li>Respecter la vie privée des autres utilisateurs et, plus généralement, ne pas

porter atteinte à leurs droits ; </li>

<li>Ne pas porter atteinte à la confidentialité et à la sécurité des données

personnelles concernant les utilisateurs de CDCP ACADEMY ; </li>

<li>Ne pas collecter de quelque façon que ce soit des informations sur les

utilisateurs, y compris leurs adresses e-mail, sans leur consentement. </li>

<li>Ne pas tricher pour améliorer vos résultats ;</li>

<li>Ne pas améliorer ou dégrader les résultats des autres ; </li>

<li>Ne pas publier les réponses aux exercices utilisés comme mode d’évaluation

des apprenants.</li>
</ul>
</br>
En cas de manquement par un utilisateur à l’une ou l’autre des règles précitées,

CDCP ACADEMY se réserve le droit de lui bloquer l’accès à tout ou partie des services

du Site, de façon temporaire ou définitive, sans aucune contrepartie et notification à

l’utilisateur.
</br></br>
CDCP ACADEMY se réserve également le droit de retirer tout ou partie des contenus,

informations et données de toute nature, que l’utilisateur aura mis en ligne sur la

plateforme CDCP ACADEMY.
</br></br>
</p>
<h2>Création d’un compte utilisateur</h2>
<p>
Le futur utilisateur doit être une personne physique. Les comptes créés par des

robots ou des méthodes automatiques sont formellement interdits.
</br></br>
L'inscription aux services de la plateforme CDCP ACADEMY s'effectue directement à partir du Site <a href="https://www.cdcp-academy.com/register">https://www.cdcp-academy.com/register</a> 

</br></br>
Le futur utilisateur de la plateforme CDCP ACADEMY est invité à fournir des informations personnelles nécessaires à l'ouverture d'un compte sont : une adresse e-mail, les nom et prénom, Nom d’utilisateur public, … Lors de l’inscription, il peut être amené à donner des informations facultatives supplémentaires.
</br></br>
Lors de la création du compte, une fois que les conditions d'inscription sont remplies, l'utilisateur est invité à choisir un mot de passe qui garantit la confidentialité des données enregistrées sur son compte ; en conséquence, l'utilisateur s'interdit de communiquer son mot de passe à tout tiers quel qu'il soit. L'identifiant est personnel et ne peut être utilisé par plusieurs apprenants. A défaut, CDCP ACADEMY ne saurait être tenu pour responsable des accès non autorisés au compte d'un de ses membres utilisateurs.
</br></br>
L'utilisateur devra valider son inscription en cochant, dans la section <strong>"Je comprends et je me déclare d’accord avec les Conditions Générales d’Utilisation de CDCP ACADEMY" </strong>, qui se trouve sous " Conditions Générales d’Utilisation de CDCP ACADEMY" amenant l'utilisateur directement aux Conditions Générales d’Utilisation, enfin en cliquant sur "Créer mon compte".
</br></br>
L&#39;utilisateur s&#39;engage à fournir des informations exactes et conformes à la réalité. En

outre, il s&#39;engage à mettre à jour régulièrement les données communiquées lors de

son inscription et à informer sans délai CDCP ACADEMY de tout changement qui

pourrait avoir une incidence sur son maintien au sein des membres utilisateurs de la

plateforme CDCP ACADEMY.
</br></br>
CDCP ACADEMY se réserve le droit de supprimer le compte de tout utilisateur qui ne

respecterait pas les présentes Conditions Générales d&#39;Utilisation, notamment en cas

de communication de fausses informations lors de l&#39;inscription ou de l&#39;utilisation de

son compte, ou lorsque le compte sera resté inactif depuis au moins 12 mois.
</br></br>
</p>
<h2>Utilisation du compte utilisateur</h2>
<p>
L’utilisateur est seul responsable de garder confidentiels et non accessibles ses

identifiants et mots de passe. En cas de perte ou de vol de ceux-ci, ou dans

l’éventualité où l’utilisateur penserait qu’un tiers a accédé à son profil, l’utilisateur

s’engage à informer CDCP ACADEMY via la page contact du Site : <a href="https://www.cdcp-academy.com/contact/"> https://www.cdcp-academy.com/contact/</a>
</br></br>
Vous vous engagez à fournir des informations précises qui correspondent à votre

situation actuelle. Vous consentez également à mettre à jour vos informations.
</br></br>
L’utilisateur s&#39;engage également à ne pas créer une fausse identité de nature à

induire qui que ce soit en erreur.
</br></br>
CDCP ACADEMY s&#39;engage à garantir la confidentialité et la sécurité de vos

informations personnelles.

</p>
<h2>Règles d’utilisation des contenus diffusés sur CDCP ACADEMY</h2>
<p>
Les contenus (textes, cours, photographies, vidéos, etc.) diffusés sur CDCP ACADEMY

ne peuvent être utilisés qu’à des fins strictement personnelles.
</br></br>
Sauf si les conditions d&#39;utilisation des cours en ligne en disposent autrement,

l’utilisateur s’interdit de reproduire et/ou d’utiliser les marques et logos présents sur

le Site CDCP ACADEMY, ainsi que de modifier, assembler, décompiler, attribuer, sous

licencier, transférer, copier, traduire, reproduire, vendre, publier, exploiter et

diffuser sous quelque format que ce soit, tout ou partie des informations, textes,

photos, images, vidéos et données présents sur ce Site. La violation de ces

dispositions impératives soumet l’utilisateur, et toutes personnes responsables, aux

peines pénales et civiles prévues par la loi tunisienne.
</br>
</p>
<h2>Règles d’utilisation des contenus diffusés sur les cours en ligne hébergés par

CDCP ACADEMY</h2>
Vous vous engagez à respecter les conditions d&#39;utilisation propres à chaque cours en

ligne hébergé sur CDCP ACADEMY. Ces conditions sont définies pour chaque cours

et sont disponibles dans la page de présentation de chaque cours.
</br></br>
Ces conditions sont précisées au moment de votre inscription à un cours en ligne

hébergé sur CDCP ACADEMY. En l’absence de précision lors de votre inscription à un

cours en ligne, vous ne pouvez exploiter les contenus qu’à des fins personnelles et

devez obtenir l’autorisation préalable des auteurs et les mentionner.
</br>
</p>
<h2>Règles d’utilisation des contenus que vous diffusez dans le cadre des cours en

ligne hébergés par CDCP ACADEMY auxquels vous êtes inscrits</h2>
<p>
Avant de diffuser des contenus, vous vous assurez de disposer des autorisations

nécessaires relatives aux droits d&#39;auteur ou autres droits de propriété intellectuelle

éventuellement attachés à votre contribution et/ou commentaire, à travers

notamment leur reproduction et leur diffusion sur le Site. Vous veillez notamment

au respect des droits de tiers (droit d’auteur, droit des marques, droit de la

personnalité).
</br></br>
Lorsque vous diffusez des contenus dans le cadre des cours en ligne, vous autorisez

la reproduction et la diffusion de ces contenus, pour le monde entier, dans le seul

cadre des cours en ligne sauf si les conditions d&#39;utilisation de ces cours en disposent

autrement.
</br>

</p>
<h2>Utilisation des marques et des logos</h2>
<p>
Les marques et les logos associés présents sur le Site CDCP ACADEMY sont protégés.

Ils appartiennent par conséquent exclusivement aux organismes émetteurs. Vous ne

pouvez utiliser aucun de ces signes ou leur variante sans l’accord préalable desdits

organismes.
</p>
<h2>Responsabilités</h2>
<h3>1. Responsabilité de l’utilisateur</h3>
<p>
L’ensemble du matériel et des logiciels nécessaires à l’accès et à l’utilisation de

CDCP ACADEMY est à la charge de l’utilisateur. Ce dernier est responsable du bon

fonctionnement de son matériel et de son accès internet. L’utilisateur est tenu de

prendre toutes les mesures préventives nécessaires à la protection de ses

données, logiciels et/ou systèmes informatiques pour se prémunir contre la

contamination d’éventuels virus.
</br></br>
L’usage des contenus mis à disposition par l’intermédiaire de CDCP ACADEMY

relève de la seule responsabilité de l’utilisateur. Les faits ou actes que ce dernier

serait amené à accomplir en considération de ces informations ne sauraient

engager d’autre responsabilité que celle dudit utilisateur. L’accès aux contenus

mis à disposition sur le Site CDCP ACADEMY relève de la responsabilité de

l’utilisateur et CDCP ACADEMY ne pourrait être tenu responsable pour les dégâts

ou la perte de données qui pourraient résulter du téléchargement ou de

l’utilisation des contenus diffusés sur le Site.
</br></br>
L’utilisateur est seul responsable à l’égard de CDCP ACADEMY et le cas échéant de

tout tiers, de tous dommages, directs ou indirects, de quelque nature que ce soit,

causés par un contenu, et ce quelle que soit sa nature, communiqué, transmis ou

diffusé par l’utilisateur par l’intermédiaire de CDCP ACADEMY, ainsi que pour

toute violation des présentes Conditions Générales d&#39;Utilisation, la Charte

Utilisateurs et la Politique de Confidentialité.
</br>
</p>
<h3>2. Responsabilité de CDCP ACADEMY</h3>
<p>
Le Site CDCP ACADEMY est par principe accessible 24/24h, 7/7j, sauf interruption,

programmée ou non, pour les besoins de sa maintenance ou cas de force

majeure. Etant de fait soumis à une obligation de moyen, CDCP ACADEMY ne

saurait être tenu responsable de tout dommage, quelle qu’en soit la nature,

résultant d’une indisponibilité du Site.
</br></br>
CDCP ACADEMY met en œuvre tous les moyens raisonnables à sa disposition

pour assurer un accès de qualité à ses utilisateurs, mais n&#39;est tenu à aucune

obligation d&#39;y parvenir.
</br></br>
CDCP ACADEMY ne peut, en outre, être tenu responsable de tout

dysfonctionnement du réseau ou des serveurs ou de tout autre événement

échappant au contrôle raisonnable, qui empêcherait ou dégraderait son accès.
</br></br>
CDCP ACADEMY se réserve la possibilité d&#39;interrompre, de suspendre

momentanément ou de modifier sans communication préalable l&#39;accès à tout ou

partie de son Site, afin d&#39;en assurer la maintenance, ou pour toute autre raison,

sans que l&#39;interruption n&#39;ouvre droit à aucune obligation ni indemnisation.
</br></br>
Sauf dans le cas où CDCP ACADEMY aurait été dûment informé de l&#39;existence d&#39;un

contenu illicite au sens de la législation en vigueur, et n&#39;aurait pas agi

promptement pour le retirer, CDCP ACADEMY ne peut pas être tenu responsable

de la diffusion de ces contenus.
</br></br>
CDCP ACADEMY n’est pas responsable des contenus mis à disposition les

institutions dans les cours en ligne hébergés sur CDCP ACADEMY.
</br></br>
En aucun cas, la responsabilité de CDCP ACADEMY ne pourra par ailleurs être

recherchée à l’occasion des relations qui pourraient exister entre les utilisateurs

et les cours en ligne hébergés par CDCP ACADEMY.
</br>
</p>
<h2>Données personnelles</h2>
<p>
Les données personnelles vous concernant et collectées par le Site www.cdcp-

academy.com vous appartiennent. Ces données sont protégées et non diffusées

conformément à la loi tunisienne.
</br></br>
Ces données sont utilisées pour assurer la délivrance des services offerts par le Site :

délivrance de certificats ou attestations, échanges de pairs à pairs, échanges entre

l’équipe pédagogique et les apprenants, envoi d’informations de manière proactive,

etc. Nous nous engageons à ce que ces données ne soient pas diffusées à des tiers

ni commercialisées sans votre accord explicite.
</br></br>
Elles peuvent également être utilisées pour vous envoyer des mises à jour sur les

cours en ligne par www.cdcp-academy.com ou d&#39;autres événements, pour

communiquer sur les produits ou les services du Site ou affiliés, ou pour vous

envoyer des messages électroniques à propos de la maintenance du Site ou des

mises à jour.
</br></br>
Nous partagerons l&#39;information recueillie avec les autres viSiteurs du Site, dans la

mesure où vous soumettez des commentaires, des devoirs ou toute autre

information ou du contenu à une zone du Site conçue pour les communications avec

le public et avec d&#39;autres membres d&#39;un cours de CDCP ACADEMY auquel vous

participez. </br></br>

Nous pouvons proposer vos contributions aux participants qui s&#39;inscriraient plus

tard dans les mêmes cours, dans le cadre de forums, de didacticiels ou autrement. Si

vous nous soumettez vos contributions dans des parties non publiques, nous les

publierons anonymement, sauf avec votre permission explicite, mais nous pouvons

utiliser votre nom d&#39;utilisateur pour les afficher à l’intention des autres membres de

votre cours.
</br>
</p>
<h2>Données d’usage</h2>
<p>
Les données d’usage sont les données collectées par le Site www.cdcp-acaemy.com

et concernent les usages des services du Site. Il s’agit de données brutes, totalement

anonymisées, utilisées pour produire des statistiques sur l’utilisation des services du

Site, et dont l’analyse permet d’améliorer les services et les fonctionnalités du Site. </br></br>

Nous collectons des informations lorsque vous vous créez un compte utilisateur,

participez à des cours en ligne, envoyez des messages courriel et / ou participez à

nos forums, nos wiki…. Nous recueillons des informations sur les performances et

les modes d&#39;apprentissage des apprenants. </br></br>

Nous enregistrons des informations indiquant, entre autres, les pages de notre Site

ayant été visitées, l&#39;ordre dans lequel elles ont été visitées, quand elles ont été

visitées et quels sont les liens et autres contrôles de l&#39;interface utilisateur qui ont été

utilisés. </br></br>

Nous pouvons enregistrer l&#39;adresse IP, le système d&#39;exploitation et le navigateur

utilisé par chaque utilisateur du Site. Divers outils sont utilisés pour recueillir ces

informations.
</br></br>

Les données d’usage peuvent être utilisées : </br>
<ul>
<li>
Pour permettre aux institutions de proposer, administrer et améliorer leurs

cours. </li>


<li>Pour nous aider, nous et les institutions, à améliorer l&#39;offre de www.cdcp-

acaemy.com, de manière individuelle (par exemple au travers de l&#39;équipe

pédagogique travaillant avec un apprenant) et de manière globale pour

personnaliser l&#39;expérience et évaluer l&#39;accessibilité et l&#39;impact de www.cdcp-

academy.com dans la communauté nationale et internationale. </li>

<li>Pour suivre la fréquentation, à la fois individuelle et globale, la progression et

l&#39;achèvement d&#39;un cours en ligne et pour analyser les statistiques sur la

performance des apprenants et la façon dont ils apprennent. </li>

<li>Pour détecter des violations de la charte utilisateur, la manière d’utiliser le Site

ainsi que des utilisations frauduleuses ou l&#39;étant potentiellement. </li>

<li>Pour publier des informations, mais pas des données personnelles, recueillies

par www.cdcp-acaemy.com sur les accès, l&#39;utilisation, l&#39;impact et la performance

des apprenants. </li>

<li>Pour archiver ces informations et / ou les utiliser pour des communications

futures avec vous. </li>

<li>Afin de maintenir et d&#39;améliorer le fonctionnement et la sécurité du Site et de

nos logiciels, systèmes et réseaux.
</li>
</ul>
</p>
<h2>Utilisations de Cookies</h2>
<p>
Certaines informations sont collectées au moyen de cookies (de petits fichiers texte

placés sur votre ordinateur qui stockent des informations vous concernant et qui

peuvent être consultés par le Site). </br></br>

Un cookie ne nous permet pas de vous identifier. De manière générale, il enregistre

des informations relatives à la navigation de votre ordinateur sur notre Site (les

pages que vous avez consultées, la date et l’heure de la consultation, etc.) que nous

pourrons lire lors de vos viSites ultérieures. En l’espèce, il contient les informations

que vous avez fournies. Ainsi, vous n’aurez pas besoin, lors de votre prochaine viSite

de remplir à nouveau le formulaire que nous vous avons proposé. </br></br>

Nous vous informons que vous pouvez vous opposer à l’enregistrement de cookies

en configurant votre navigateur (dans le menu &quot;Plus d’outils – Effacer les données de

navigation&quot; de Google Chrome). La plupart des navigateurs fournissent les

instructions pour les refuser dans la section &quot;Aide&quot; de la barre d&#39;outils. Si vous

refusez nos cookies, des fonctions et fonctionnalités de ce Site pourraient ne pas

fonctionner correctement. </br></br>

Vous disposez d&#39;un droit d&#39;accès, de retrait et de modification des données

personnelles. Il vous suffit pour cela d&#39;adresser un courrier électronique via la page

contact du Site : https://www.cdcp-academy.com/contact/
</p></br>
<h2>Services externes</h2>
<p>
Le Site www.cdcp-academy.com peut donner accès à des liens vers d&#39;autres Sites

publiés par d&#39;autres fournisseurs de contenu. Ces autres Sites ne sont pas sous

notre contrôle, et vous reconnaissez et acceptez que nous ne sommes pas

responsables de la collecte et de l&#39;utilisation de vos informations par ces Sites. Nous

vous encourageons à lire les politiques de confidentialité de chaque Site que vous

viSitez et utilisez.
</br>
</p>
<h2>Noms d&#39;utilisateurs et messages</h2>
<p>
Les commentaires et autres informations que vous publiez dans nos forums, wikis

ou d&#39;autres zones du Site conçus pour les communications publiques, peuvent être

consultés et téléchargés par d&#39;autres viSiteurs du Site. </br></br>

Pour cette raison, nous vous encourageons à faire preuve de discrétion avant de

publier toute information qui pourrait être utilisée pour vous identifier sur ces

forums ou d’autres endroits publics ou réservés à un cours.
</br>
</p>
<h2>Notifications</h2>
<p>
Sauf stipulation expresse contraire, toute notification envoyée à CDCP ACADEMY

doit être adressée via la page de contact : https://www.cdcp-academy.com/contact/
</br></br>
Toute notification qui vous est destinée sera envoyée en principe par e-mail à

l&#39;adresse que vous avez communiquée à CDCP ACADEMY lors de votre inscription

d’où la nécessité de renseigner une adresse email valide.</br>

</p>
<h2>Juridiction compétente</h2>
<p>
Les présentes Conditions Générales d’Utilisation ainsi que la Charte Utilisateurs sont

régies par la loi tunisienne. </br></br>

L’utilisateur du Site de CDCP ACADEMY accepte que tout litige relatif à

l’interprétation, l’exécution des présentes Conditions Générales d’Utilisation et la

Charte Utilisateurs et/ou grief lié au fonctionnement de ce Site soit réglé devant une

juridiction du ressort de CDCP ACADEMY et ce y compris en cas de référé, de

requête ou de pluralité de défendeurs.</br>
</p>

</div>

          <div class="col-md-3">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
