## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>
<% current_year = datetime.now().year %>

<div class="wrapper-footer">
  <footer class="container">
    <div class="row">
      <nav>
        <div class="col-md-4">
          <a href="${marketing_link('ROOT')}">
            <img class="cdcp-logo"  src="${static.url('images/cdcpLogo.png')}" alt="Aquent Cdcp" >
          </a>
        </div>
        <div class="col-md-4">
          <ol class="list-inline text-center footer-link-list">
            <li><a href="${reverse('about')}">A propos</a></li>
            <li><a href="${reverse('privacy')}">Conditions Générales d'Utilisation</a></li>
            <li><a href="${reverse('chartes')}">Charte utilisateurs</a></li>
            <li><a href="${reverse('contact')}">Contact</a></li>
            <li><a href="${reverse('support')}">Support</a></li>

          </ol>
          <div class="copyright">&copy; ${current_year} <a href="http://cdcp-tn.com/" target="_blank">CDCP</a></div>
        </div>
      </nav>

      <div class="built-on col-md-4 text-center">
        <span>
          <a href="http://openedx.org" target="_blank">
            <img
              src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag-light.png"
              width="150" height="50" alt="Powered by Open edX" />
          </a>

        </span>
      </div>
    </div>
    <div class="row">

    </div>
  </footer>
</div>
