<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>



<%block name="pagetitle">${_("Home")}</%block>

<section class="home">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 hidden-md hidden-lg col-sm-8 col-sm-offset-2">
          <hgroup class="header-title header-title-sm">
            <h1>${("Rejoindre CDCP Academy")}</h1>
            <h2 class="tk-brandon-grotesque">${("Cours gratuits. Compétences pratiques. Potentiel illimité.")}</h2>
            <a class="cdcp-button" href="/courses">S'inscrire au cours</a>
          </hgroup>
        </div>
<!--        <div class="col-md-9 col-sm-12 marketing-image-container">
          <a href="/courses"><img src="${static.url('images/marketing-campaign/sit_and_get_fit_2.png')}" class="img-responsive sit-and-get-fit"></a>
        </div>
-->        <div class="col-md-3 col-sm-12 hidden-sm hidden-xs" id="side-bn">
          <hgroup class="header-title">
            <h1>${("Rejoindre CDCP Academy")}</h1>
            <h2 class="tk-brandon-grotesque">${("Cours gratuits. Compétences pratiques. Potentiel illimité.")}</h2>
            <a class="cdcp-button" href="/courses">S'inscrire au cours</a>
          </hgroup>
        </div>
      </div>
    </div>
  </header>

  <section class="container-fluid subsection">
    <div class="container">
      <header class="header-tab text-center">
        <h1>Méthodologie de fonctionnement</h1>
      </header>

      <section class="row how-cdcp-works">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <h2>Compétences du monde professionnelles</h2>
          <p> CDCP Academy vous offre des cours en ligne conçus pour enseigner les professionnels des compétences à la demande. Nos choix de cours depend de la demande de nos clients et au besoin du marché . </p>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
          <h2>Instructions des experts</h2>
          <p>Nos cours sont tous auto-stimulés et enseignés par des praticiens expérimentés avec une passion pour le partage des leçons pratiques.</p>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
          <h2>Opportunités de carrière</h2>
          <p>Une fois que vous avez terminé un cours, vous serez en mesure d'utiliser vos nouvelles compétences dans votre rôle actuel, ou les utiliser pour obtenir un nouvel emploi !</p>
        </div>
      </section>

      <div class="row">
        <section class="highlighted-courses col-md-12">

          <header class="text-center header-tab">
            <h1>Cours à la une</h1>
          </header>

          % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
            <section class="courses row">

              <ul class="course-list col-md-12">
                %for course in courses[:4]:
                  <li class="course-list-item col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                    <%include file="course.html" args="course=course" />
                  </li>
                %endfor
              </ul>
              <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 text-center">
                <a href="/courses" class="cdcp-button" id="view-all-courses">
                  <b>Voir tous les cours</b>
                </a>
              </div>
            </section>
          % endif
        </section>

      </div>
    </div>
  </section>

  % if not user.is_authenticated():

  <section class="container-fluid subsection">
    <div class="container" id="join-cdcp">

        <header class="header-tab text-center">
          <h1>Rejoignez-nous</h1>
        </header>
        <section class="text-center">
          <em><a href="/register">Rejoignez CDCP Academy</a></em>

          <div class="row">
            <p class="col-md-8 col-md-offset-2">Inscrivez-vous pour recevoir des mises à jour concernant les nouveaux cours .</p>
          </div>

          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <a class="cdcp-button " href="/register">
                ${("Inscrivez-Vous")}
              </a>
            </div>
          </div>

          <p>ou <a href="/login">Se Connecter</a>
        </section>
    </div>
  </section>
  % endif


  <section class="container-fluid subsection" id="as-seen-in">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Nos partenaires:</h2>
        </div>
      </div>

      <div class="row list-inline text-center">
        <div class="col-xs-12 col-sm-offset-1 col-sm-2">
          <a href="http://www.fastcompany.com/3024661/innovation-agents/hacking-hack-schools-to-make-them-work" target="_blank">
            <img src="${static.url('images/as-seen-in/fastco.png')}" alt="Aquent Cdcp" class="img-responsive center-block" />
          </a>
        </div>
        <div class="col-xs-12 col-sm-2">
          <a href="http://www.forbes.com/sites/sap/2015/02/23/hate-formal-career-training-go-guerrilla-on-it/" target="_blank">
            <img src="${static.url('images/as-seen-in/forbes.png')}" alt="Aquent Cdcp" class="img-responsive center-block" />
          </a>
        </div>
        <div class="col-xs-12 col-sm-2">
          <a href="http://www.inc.com/issie-lapowsky/how-moocs-training-tomorrow-workforce.html" target="_blank">
            <img src="${static.url('images/as-seen-in/inc.png')}" alt="Aquent Cdcp" class="img-responsive  center-block" />
          </a>
        </div>
        <div class="col-xs-12 col-sm-2">
          <a href="http://www.lemonde.fr/emploi/article/2014/06/30/les-firmes-americaines-recrutent-dans-les-mooc_4448062_1698637.html" target="_blank">
            <img src="${static.url('images/as-seen-in/le-monde-fr.png')}" alt="Aquent Cdcp" class="img-responsive center-block" />
          </a>
        </div>
        <div class="col-xs-12 col-sm-2">
          <a href="http://www.foxbusiness.com/personal-finance/2014/03/07/training-workers-netflix-way-moocs-in-job-industry/" target="_blank">
            <img src="${static.url('images/as-seen-in/fox-business.png')}" alt="Aquent Cdcp" class="img-responsive center-block" />
          </a>
        </div>
      </div>
    </div>
  </section>
</section>