<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>



<%block name="pagetitle">${_("Home")}</%block>

<section class="home">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 hidden-md hidden-lg col-sm-8 col-sm-offset-2">
          <hgroup class="header-title header-title-sm">
            <h1>${("Rejoindre CDCP Academy")}</h1>
            <h2 class="tk-brandon-grotesque">${("Compétences pratiques. Potentiel illimité.")}</h2>
            <a class="cdcp-button" href="/courses">S'inscrire au cours</a>
          </hgroup>
        </div>
        <div class="col-md-9 col-sm-12 marketing-image-container">
          <a href="/courses"><img src="${static.url('images/marketing-campaign/digital_women.png')}" class="img-responsive sit-and-get-fit"></a>
        </div>
        <div class="col-md-3 col-sm-12 hidden-sm hidden-xs" id="side-bn">
          <hgroup class="header-title">
            <h1>${("Rejoindre CDCP Academy")}</h1>
            <h2 class="tk-brandon-grotesque">${("Compétences pratiques. Potentiel illimité.")}</h2>
            <a class="cdcp-button" href="/courses">S'inscrire au cours</a>
          </hgroup>
        </div>
      </div>
    </div>
  </header>

  <section class="container-fluid subsection">
    <div class="container">
      <header class="header-tab text-center">
        <h1>Créez et animez vos formations en ligne</h1>
<div class="col-md-12 col-sm-12 col-xs-12">
<p>
Depuis 2006, nous accompagnons les entreprises et les universités dans la digitalisation de leurs formations par</br> 
la conception de contenus e-learning et le développement de plateforme LMS (Open edX)
</p>
</div>
      </header>

      <section class="row how-cdcp-works">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <h2>CDCP Academy ? </h2>
          <p> CDCP Academy, une plateforme d’enseignement et d’apprentissage en ligne, intuitive et ergonomique, servant à créer des communautés d'apprenants autour de contenus et d'activité pédagogique  .</br> Elle permet à des institutions (entreprises, universités, établissements scolaires, associations ...) de créer et d'administrer des formations et des espaces de collaboration en ligne. </p>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
          <h2>Contenus Pédagogiques</h2>
          <p>CDCP Academy produit et diffuse des contenus sous des formats diversifiés et innovants (vidéos, articles, dossiers, diaporamas, Serious Games, Web documentaires, cartes interactives, quiz...).</p> <p> La plateforme est alimentée régulièrement par de nouveaux contenus proposés par instions publiques ou privées . </p>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
          <h2>Animation, Évaluation & Suivi</h2>
          <p>pLa plateforme offre la possibilité de s'inscrire et de créer son espace personnel donnant ainsi accès aux fonctionnalités contributives de CDCP Academy (Forums, E-mails, Hangout, actualités, partage et publication de contenus …).</br>  L'espace permet en outre aux participants de suivre en temps réel leur avancement dans le cours, leurs scores de réussite aux exercices et leur note globale.</p>
        </div>
      </section>

      <div class="row">
        <section class="highlighted-courses col-md-12">

          <header class="text-center header-tab">
            <h1>Cours à la une</h1>
          </header>

          % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
            <section class="courses row">

              <ul class="course-list col-md-12">
                %for course in courses[:4]:
                  <li class="course-list-item col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                    <%include file="course.html" args="course=course" />
                  </li>
                %endfor
              </ul>
              <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 text-center">
                <a href="/courses" class="cdcp-button" id="view-all-courses">
                  <b>Voir tous les cours</b>
                </a>
              </div>
            </section>
          % endif
        </section>

      </div>
    </div>
  </section>

  % if not user.is_authenticated():

  <section class="container-fluid subsection">
    <div class="container" id="join-cdcp">

        <header class="header-tab text-center">
          <h1>Rejoignez-nous</h1>
        </header>
        <section class="text-center">
          <em><a href="/register">Rejoignez CDCP Academy</a></em>

          <div class="row">
            <p class="col-md-8 col-md-offset-2">Inscrivez-vous pour recevoir des mises à jour concernant les nouveaux cours .</p>
          </div>

          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <a class="cdcp-button " href="/register">
                ${("Inscrivez-Vous")}
              </a>
            </div>
          </div>

          <p>ou <a href="/login">Se Connecter</a>
        </section>
    </div>
  </section>
  % endif


  <section class="container-fluid subsection" id="as-seen-in">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Nos partenaires:</h2>
        </div>
      </div>

      <div class="row list-inline text-center">
        <div class="col-xs-12 col-sm-offset-3 col-sm-2">
          <a href="http://www.uvt.rnu.tn/" target="_blank">
            <img src="${static.url('images/as-seen-in/uvt.png')}" alt="UVT" class="img-responsive center-block" />
          </a>
        </div>
        <div class="col-xs-12 col-sm-2">
          <a href="https://www.seriousfactory.com/" target="_blank">
            <img src="${static.url('images/as-seen-in/serious_factory.png')}" alt="Serious Factory" class="img-responsive center-block" />
          </a>
        </div>
        <div class="col-xs-12 col-sm-2">
          <a target="_blank">
            <img src="${static.url('images/as-seen-in/ifts.png')}" alt="IFTS" class="img-responsive  center-block" />
          </a>
        </div>
      </div>
    </div>
  </section>
</section>
